[submodule "Source/ThirdParty/Eigen/Eigen"]
	path = Source/ThirdParty/Eigen/Eigen
	url = https://gitlab.com/libeigen/eigen
	branch = 3.4
[submodule "Source/ThirdParty/GLFW/GLFW"]
	path = Source/ThirdParty/GLFW/GLFW
	url = https://github.com/glfw/glfw
[submodule "Source/ThirdParty/Spdlog/Spdlog"]
	path = Source/ThirdParty/Spdlog/Spdlog
	url = https://github.com/gabime/spdlog
[submodule "Source/ThirdParty/Volk/Volk"]
	path = Source/ThirdParty/Volk/Volk
	url = https://github.com/zeux/volk
[submodule "Source/ThirdParty/VMA/VMA"]
	path = Source/ThirdParty/VMA/VMA
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "Source/ThirdParty/Optick/Optick"]
	path = Source/ThirdParty/Optick/Optick
	url = https://github.com/bombomby/optick
[submodule "Source/ThirdParty/ImGui/ImGui"]
	path = Source/ThirdParty/ImGui/ImGui
	url = https://github.com/MateuszKolodziejczyk00/imgui
	branch = docking
[submodule "Source/ThirdParty/YAML/YAML"]
	path = Source/ThirdParty/YAML/YAML
	url = https://github.com/jbeder/yaml-cpp
[submodule "Source/ThirdParty/Entt/Entt"]
	path = Source/ThirdParty/Entt/Entt
	url = https://github.com/skypjack/entt
[submodule "Source/ThirdParty/TinyGLTF/TinyGLTF"]
	path = Source/ThirdParty/TinyGLTF/TinyGLTF
	url = https://github.com/syoyo/tinygltf
[submodule "Source/ThirdParty/MeshOptimizer/MeshOptimizer"]
	path = Source/ThirdParty/MeshOptimizer/MeshOptimizer
	url = https://github.com/zeux/meshoptimizer
