[submodule "Source/ThirdParty/Eigen/Eigen"]
	path = Source/ThirdParty/Eigen/Eigen
	url = https://gitlab.com/libeigen/eigen
	branch = 3.4
[submodule "Source/ThirdParty/GLFW/GLFW"]
	path = Source/ThirdParty/GLFW/GLFW
	url = https://github.com/glfw/glfw
[submodule "Source/ThirdParty/Spdlog/Spdlog"]
	path = Source/ThirdParty/Spdlog/Spdlog
	url = https://github.com/gabime/spdlog
[submodule "Source/ThirdParty/Volk/Volk"]
	path = Source/ThirdParty/Volk/Volk
	url = https://github.com/zeux/volk
[submodule "Source/ThirdParty/VMA/VMA"]
	path = Source/ThirdParty/VMA/VMA
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
